<div id='highScoreToast' class="_hide">
    {{!-- <div class="close-high-score-box">
        <div class="closeHighScoreToast"><span>&times</span></div>
    </div> --}}
    <div id='highScoreToastInnerContainer clearfix'>
        
            <p id='highScoreParagraph'></p>

            <p class='title' id="highScore">Your Score is! <h1>{{score}}</h1></p>
            
            <p>Thanks for playing Space Defender.</p>
            <p> Play another game?</p>

            <button  id='newGameFromHighScoreButton' class="newGameButton">
                <strong>New Game</strong>
            </button>
            
        
            <p id='previousHighScore' class="title">Previous High Scores</p>

            <!-- The following ordered list is populated by Handlebars/Pug in the game. -->
            <ol id='highScoreList'>
                {{#if players}}
                    {{#each players}}
                        <li>{{name}} {{score}}</li>
                    {{/each}}
                {{/if}}
            </ol>

            <!-- Script needed to get reload working -->
            <script type="text/javascript" src="/js/jquery/jquery.js"></script>

            <script type="text/javascript">
                jQuery('#newGameFromHighScoreButton').on('click', function(e){
                        // 🚧 Under construction 🚧
                        // console.log('game.start();');
                        // Get the reset() working later
                        // game.reset();
                        window.location.href = window.location.origin;
                        // // game.start();
                    });

            </script>



        
    </div>

    <!-- Game Toast......................................................-->


        
    </div>