<div id='highScoreToast' class="_hide">
        <div id='highScoreToastInnerContainer'>
            
            <p id='highScoreParagraph'>{{score}}</p>

           

                <p class='title' id="highScore">Your High Score is!</p>
                
                <p>What's your name?</p>

                <input id='nameInput' type="text" autofocus="true">

                <input id='addMyScoreButton' type="text"></input>

                <input id='addMyScoreButton' name='addMyScoreButton' type='submit' value='Add My Score'>

                <!-- <button  id='addMyScoreButton'>
                    <strong>Add My Score</strong>
                </button> -->

                <button  id='newGameFromHighScoreButton' disabled="true">
                    <strong>New Game</strong>
                </button>
                
           
                <p id='previousHighScore' class="title">Previous High Scores</p>

                <!-- The following ordered list is popuilated by JavaScript in the game. -->
                <ol id='highScoreList'>
                    <li>Joe: 90</li>
                    <li>Joe: 90</li>
                    <li>Joe: 90</li>
                    <li>Joe: 90</li>
                    <li>Joe: 90</li>
                </ol>



            
        </div>

        <!-- Game Toast......................................................-->


        
    </div>